@media screen and (max-width: 599px) {
  .SlideShow {
    display: none;
  }
}

.SlideShow {
  position: relative;
  font-family: sans-serif;
  text-align: center;
  width: 40%;
  height: 55vh;
}

.slideShowImg {
  height: 100%;
  width: 100%;
  position: relative;
  object-fit: cover;
  border-radius: 25px;
}

.btn button {
  border: none;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}
.btn button:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.9);
}

.fwd {
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.bck {
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
