.Skill {
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  width: 50%;
  margin: 15px auto;
  padding: 5px;
}

.Skills > ul {
  padding: 0;
}

.skill {
  display: inline-flex;
  width: 80%;
}

.skillName {
  display: inline-block;
  width: 50%;
  margin: 3vh 1vw;
  font-weight: 600;
}

.level {
  display: inline-flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  margin: 1vw;
}

.circle {
  width: 1em;
  height: 1em;
  border-radius: 1em;
  border: 1px solid var(--accent-color);
}
.filled {
  background: var(--accent-color);
}
