.App {
  background: #232323;
  display: inline-block;
  width: 90%;
  height: 100%;
  min-height: 100%;
}

.Header-container {
  height: 100%;
}

.Header-image {
  background-image: url(./CodingBG.png);
  filter: blur(4px);
  -webkit-filter: blur(4px);
  height: 45vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  padding: 10px;
  height: 45vh;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 3px #cdcdcd solid;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 2;
}
#leftside {
  width: 50%;
}
#rightside {
  width: 50%;
}

#profilepic {
  border: 3px #cdcdcd solid;
  width: 50%;
  height: 50%;
}

.content {
  padding-bottom: 60px;
}
.Footer {
  background: #232323;
  position: absolute;
  height: 60px;
  bottom: 0;
  left: 0;
  width: 100%;
}
